@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Merriweather:wght@400;700&display=swap");
/* font-family: 'Inter', sans-serif; */
/* font-family: 'Merriweather', serif; */

:root {
  /* colors */
  --color-black: #000;
  --color-gold: #bdae82;
  --color-white: #fff;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
