@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Merriweather:wght@700&display=swap");
/* font-family: 'Inter', sans-serif; */
/* font-family: 'Merriweather', serif; */

:root {
  --color-black: #000;
  --color-gold: #bdae82;
  --color-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-black);
  color: var(--color-white);
}

a {
  text-decoration: none;
  color: var(--color-white);
}

.container {
  width: 1440px; /* на следующих этапах заменить на max-width */
  margin: 0 auto;
  padding: 0 20px;
}

.header-container {
  background-image: url("./assets/jpg/bg.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  background-image: url("./assets/svg/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s;
}

.logo:hover {
  filter: invert(19%) sepia(5%) saturate(1754%) hue-rotate(7deg) brightness(87%)
    contrast(88%);
}

.home-link {
  display: block;
  width: 50px;
  height: 50px;
}

.header-right {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 50px;
  display: flex;
  flex-direction: row;
}

.nav-list {
  font-weight: 400;
  list-style-type: none;
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.nav-link {
  transition: 0.5s;
}

.nav-link:hover {
  color: var(--color-gold);
}

.switch-lng {
  font-weight: 700;
  width: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.selected {
  color: var(--color-gold);
}

.unselected {
  transition: 0.5s;
}

.unselected:hover {
  color: var(--color-gold);
}

.hero-container {
  background: url("./assets/jpg/bg.jpg");
  background-repeat: no-repeat;
  background-position: center -90px;
}

.hero {
  height: 820px;
  padding-top: 160px;
  padding-left: 60px;
}

.hero-title {
  font-family: "Merriweather", serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 120px;
  margin-bottom: 10px;
}

.hero-text-block {
  width: 500px;
  height: 350px;
}

.hero-text {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 25px;
}

.btn {
  width: 220px;
  height: 55px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-gld {
  border: none;
  background: var(--color-gold);
  color: var(--color-black);
}

.btn-gld:hover,
.btn-black:hover {
  color: var(--color-white);
}

.btn-black {
  border: 2px solid var(--color-gold);
  background-color: var(--color-black);
  color: var(--color-gold);
}

.section-title {
  width: 50%;
  margin: 100px auto 60px;
  font-family: "Merriweather", serif;
  color: var(--color-gold);
  background-image: linear-gradient(
    to top,
    var(--color-black) 39px,
    var(--color-gold) 39px,
    var(--color-gold) 41px,
    var(--color-black) 41px
  );
}

.section-name {
  font-size: 40px;
  font-weight: 700;
  line-height: 80px;
  text-align: center;
  display: inline-block;
  padding: 0 20px;
  margin-left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-black);
}

.skills-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.skills-item {
  width: 320px;
  font-family: "Inter", sans-serif;
  text-align: center;
  padding: 0 20px;
}

.skills-pic {
  height: 50px;
  margin-bottom: 50px;
}

.skills-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 20px;
}

.skills-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  padding-bottom: 10px;
}

.portfolio-btns {
  display: flex;
  gap: 5px;
  justify-content: center;
}
