@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Merriweather:wght@400;700&display=swap");
/* font-family: 'Inter', sans-serif; */
/* font-family: 'Merriweather', serif; */

:root {
  /* colors */
  --color-black: #000;
  --color-gold: #bdae82;
  --color-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

/* BUTTONS */

.btn {
  width: 220px;
  height: 55px;
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2em;
  border: none;
  transition: 0.3s;
}

.btn:active {
  border: outset;
}

.gold-btn {
  color: var(--color-black);
  background: var(--color-gold);
}

.gold-btn:hover {
  color: var(--color-white);
}

.black-btn {
  border: 2px solid var(--color-gold);
  background: var(--color-black);
  color: var(--color-gold);
}

.black-btn:hover {
  color: var(--color-white);
}

/* SECTION TITLE */

.section-title {
  width: 50%;
  height: 5rem;
  margin: 0 auto 60px;
  background: linear-gradient(
    to top,
    var(--color-black) 39px,
    var(--color-gold) 39px,
    var(--color-gold) 41px,
    var(--color-black) 41px
  );
  display: flex;
  justify-content: center;
}

.section-name {
  display: inline-block;
  font-family: "Merriweather", serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2em;
  color: var(--color-gold);
  background: var(--color-black);
  padding: 0 20px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .section-title {
    height: 2.5rem;
    margin-bottom: 36px;
    background: linear-gradient(
      to top,
      var(--color-black) 19px,
      var(--color-gold) 19px,
      var(--color-gold) 21px,
      var(--color-black) 21px
    );
  }
  .section-name {
    font-size: 2rem;
    line-height: 1.25em;
  }
}

/* HEADER */

.header .container,
.header-right,
.nav-list,
.switch-lng {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header {
  background: transparent;
}

.header .container {
  height: 90px;

  justify-content: space-between;
}

.header-logo {
  width: 50px;
  height: 50px;
  background-image: url("./assets/svg/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s;
}

.header-logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.header-right {
  font-size: 1.25rem;
  line-height: 2.5em;
}

.nav {
  width: 31.25rem;
  font-weight: 400;
}

.nav-list {
  justify-content: space-evenly;
}

.switch-lng {
  width: 4.375rem;
  font-weight: 700;
  justify-content: space-between;
}

.switch-lng > .active {
  color: var(--color-gold);
}

.nav-link,
.lang-en,
.lang-ru,
.burger-menu {
  cursor: pointer;
  transition: 0.3s;
}

.nav-link:hover,
.lang-en:hover,
.lang-ru:hover {
  color: var(--color-gold);
}

/* BURGER MENU */

.burger-menu {
  display: none;
}

.burger-line {
  width: 100%;
  height: 2px;
  margin: 11px 0;
  background: var(--color-white);
  transition: 0.3s;
}

.burger-menu:hover .burger-line {
  background: var(--color-gold);
}

@media (max-width: 768px) {
  body {
    position: relative;
    overflow-x: hidden;
  }

  .header .container {
    padding: 0 60px;
  }

  .nav {
    position: absolute;
    top: 0;
    right: -100%;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    transition: 0.3s;
  }

  .nav-list {
    font-size: 2.17625rem;
    line-height: 2.08357em;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    max-width: 620px;
    background: var(--color-black);
    margin-left: auto;
    height: 100vh;
    padding-top: 134px;
    padding-left: 127px;
  }

  .burger-menu {
    display: block;
    width: 50px;
    margin-left: 20px;
  }
}

@media (max-width: 426px) {
  .header .container {
    padding: 0 20px;
  }
  .nav-list {
    font-size: 1.9rem;

    padding-top: 90px;
    padding-left: 0;
    align-items: center;
  }
}

.burger-menu.active .burger-top {
  transform: translateY(14px) rotate(45deg);
}

.burger-menu.active .burger-middle {
  opacity: 0;
}

.burger-menu.active .burger-bottom {
  transform: translateY(-14px) rotate(-45deg);
}

.nav.show {
  right: 0;
}

/*HERO*/

.header .container,
.hero .container {
  background-image: url(./assets/jpg/bg.jpg);
  background-repeat: no-repeat;
}

.header .container {
  background-position: center 0;
}

.hero .container {
  background-position: center -90px;
  padding-top: 10rem;
  padding-left: 5rem;
  padding-bottom: 330px;
}

.hero-info {
  max-width: 470px;
}

.hero-title {
  font-family: "Merriweather", serif;
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 2em;
  margin-bottom: 10px;
}

.hero-text {
  font-size: 1.25rem;
  line-height: 2em;
  margin-bottom: 25px;
}

@media (max-width: 768px) {
  .header .container {
    background-position: -5px -30px;
    background-size: auto 620px;
  }

  .hero .container {
    padding: 78px 60px 150.4px;
    background-position: -5px -120px;
    background-size: auto 620px;
  }

  .hero-info {
    max-width: 390px;
  }

  .hero-title {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .hero-text {
    font-size: 1.25rem;
    line-height: 1.21em;
    margin-bottom: 60px;
  }
}

/* SKILLS */

.skills {
  padding-top: 100px;
}

.skills-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.skills-item {
  width: 320px;
  padding: 0 20px 10px;
}

.skills-image {
  height: 50px;
  margin-bottom: 50px;
}

.skills-title {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 2em;
  margin-bottom: 20px;
}

.skills-description {
  font-size: 1.125rem;
  line-height: 2em;
}

@media (max-width: 768px) {
  .skills .section-title {
    margin-bottom: 65px;
  }

  .skills-items {
    padding: 0 40px 40px;
  }

  .skills-item {
    width: 300px;
    padding: 0 10px 40px;
    margin-bottom: 36px;
  }

  .skills-image {
    margin-bottom: 30px;
  }

  .skills-description {
    line-height: 1.21em;
  }
}

@media (max-width: 720px) {
  .skills-items {
    flex-direction: column;
    align-content: center;
  }
}
